venv
condaenv*

.DS_Store
.idea
.vscode
*.cache
*.pyc
**/.ipynb_checkpoints


*.gz
*.hdf5
*.h5
*.file
*.csv
*.pdf

**/.pytest_cache

**/mlruns

data
keys
.python-version


/data
/SepMe/SepMe_ml.log
/SepMe.egg-info/
/SepMe_ml.log


